In [4]:
import pandas as pd
from sqlalchemy import create_engine
import datetime

In [ ]:
engine = create_engine ("postgresql://username:password@localhost:port/dbname")

In [12]:
df = pd.read_csv('weight-height-updated.csv')
df.head()

  Gender     Height      Weight  Born_Year
0   Male  73.847017  241.893563     1967.0
1   Male  68.781904  162.310473     1977.0
2   Male  74.110105  212.740856     1991.0
3   Male  71.730978  220.042470     1998.0
4   Male  69.881796  206.349801     1985.0

In [14]:
df = pd.read_csv('weight-height-updated.csv')
df.tail()

      Gender     Height      Weight  Born_Year
9995  Female  66.172652  136.777454     2003.0
9996  Female  67.067155  170.867906        NaN
9997  Female  63.867992  128.475319     2002.0
9998  Female  69.034243  163.852461     1983.0
9999  Female  61.944246  113.649103     1986.0

In [18]:
df.isnull().sum() #checks total number of nulls

Gender          0
Height          0
Weight          0
Born_Year    1000
dtype: int64

In [22]:
df.dtypes

Gender        object
Height       float64
Weight       float64
Born_Year    float64
dtype: object

In [24]:
df.shape

(10000, 4)

In [26]:
df.describe

<bound method NDFrame.describe of       Gender     Height      Weight  Born_Year
0       Male  73.847017  241.893563     1967.0
1       Male  68.781904  162.310473     1977.0
2       Male  74.110105  212.740856     1991.0
3       Male  71.730978  220.042470     1998.0
4       Male  69.881796  206.349801     1985.0
...      ...        ...         ...        ...
9995  Female  66.172652  136.777454     2003.0
9996  Female  67.067155  170.867906        NaN
9997  Female  63.867992  128.475319     2002.0
9998  Female  69.034243  163.852461     1983.0
9999  Female  61.944246  113.649103     1986.0

[10000 rows x 4 columns]>

In [28]:
df.describe()

             Height        Weight    Born_Year
count  10000.000000  10000.000000  9000.000000
mean      66.367560    161.440357  1985.366556
std        3.847528     32.108439    11.441963
min       54.263133     64.700127  1966.000000
25%       63.505620    135.818051  1976.000000
50%       66.318070    161.212928  1985.000000
75%       69.174262    187.169525  1995.000000
max       78.998742    269.989699  2005.000000

In [32]:
cv = (32.11/161.44)*100 # checks the percentange of coefficient of variance, determines whether to use mode or mean
cv

19.889742319127848